body {
    overflow-x: hidden;
    margin: 0;
    overflow-y: auto;
    background-color: #262726;
  }
  
  /*Header*/
  header nav {
    margin-bottom: -50px;
  }
  
  .nav__img-tamaño {
    height: auto;
    max-width: 11%;
    cursor: pointer;
  }
  
  header ul {
    font-size: 1.1em;
  }
  
  /*Filtros categorías*/
  .gallery_filter {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
  }
  
  .gallery__buttonCategory {
    background-color: #262726;
    color: white;
    border: white solid 1px;
    min-width: 13%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .gallery__buttonCategory:hover {
    font-weight: bolder;
    border: white solid 2px;
    display: flex;
    align-items: center;
  }
  
  .gallery_filtersSubCategory {
    display: flex;
    align-items: center;
    margin: auto;
    gap: 30px;
    height: 10%;
    background-color: #830c0c;
    padding: 1%;
    border-radius: 43px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .gallery__buttonSubCategory {
    background-color: #830c0c;
    color: white;
    border: #830c0c solid 0.5px;
    font-size: 0.8em;
    display: none;
  }
  
  .gallery_filtersSubCategory button a {
    text-decoration: none;
    color: white;
    border: #830c0c solid 0.5px;
    font-size: 1em;
  }
  
  .gallery_filtersSubCategory button a:hover {
    border: #830c0c solid 0.5px;
    font-size: 1.02em;
    font-weight: 700;
  }
  
  .gallery_filtersSubCategory button a:active {
    border: #830c0c solid 0.5px;
    font-size: 1.02em;
    font-weight: 500;
    color: #f20519;
  }
  
  .gallery_filtersSubCategory button a:focus {
    border: #830c0c solid 0.5px;
    font-size: 1.04em;
    font-weight: 800;
    color: #f20519;
  }
  
  /*Galería imágenes*/
  .gallery__container {
    display: grid;
    margin: 2px;
  }
  
  .gallery__fotos {
    columns: 3 300px;
    column-gap: 30px;
  }
  
  img {
    max-width: 100%;
    margin-bottom: 2em;
    cursor: pointer;
    border-radius: 0.1em;
    padding: 5px;
    transition: all .3s;
  }
  
  /* CLASES MODAL */
  
  /* Añade estos estilos para el modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  #cartModal {
    background-color: #000;
  }
  
  #cartModal h2,
  p {
    color: #fff;
    text-align: center;
  }
  
  .item-info {
    display: grid;
    gap: 10px;
    justify-items: center;
  }
  
  .item-info input {
    width: 20%;
    background-color: #262726;
    border: 1px solid #ffffff;
    border-radius: 5%;
    color: #fff;
    text-align: center;
  }
  
  .item-info button {
    max-width: 65%;
    justify-content: center;
  }
  
  #modalTitle {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #modalPrice {
    font-family: 'raleway', Helvetica, sans-serif;
    font-size: 50px;
    color: #d23939;
    max-height: 14vh;
    margin-top: 90px;
    cursor: pointer;
  }
  
  #modalPrice:hover {
    font-weight: bold;
    transition: all .3s;
  }
  
  .modal-info {
    display: flex;
    color: #fff;
    column-gap: 83px;
  }
  
  .modal-content {
    display: flex;
    max-width: 43vw;
    max-height: 70vh;
  }
  
  .modal__section {
    display: flex;
    justify-content: space-around;
  }
  
  .cart__icon__showModal {
    display: flex;
    padding: 2em;
    gap: 2.5em;
  }
  
  .modal__info-justify {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 28vw;
    height: 74vh;
    margin-top: -7%;
  }
  
  .modal__info__p {
    margin-top: -180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #tamanioSelect {
    color: #fff;
    font-weight: 500;
    background-color: #262726;
  }
  
  option {
    background-color: #262726;
    color: #fff;
  }
  
  option:hover {
    background-color: #fff;
    color: #830c0c;
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .prev,
  .next {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .prev:hover,
  .next:hover {
    color: #ddd;
  }
  
  .cart__item img {
    height: 45%;
  }
  
  /* Estilos para el contenedor del carrito */
  #cartItems {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .cart-items {
    display: grid;
    grid-template-rows: auto 1fr auto;
    border: 1px solid #ddd;
    padding: 10px;
  }
  
  .cart__item img {
    width: 100%;
    height: auto;
  }
  
  /* Opcional: Estilos para el icono del carrito cuando está activo */
  .cart__icon--active {
    color: #ff4500;
  }
  
  .carrito__modal {
    color: #f2f2f2;
    font-weight: 900;
    font-size: 2em;
    cursor: pointer;
  }
  
  .cart__count {
    color: #ff4500;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none !important;
  }
  
  .cart__item {
    color: inherit;
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  .total-container {
    color: #f1f1f1;
  }
  
  nav .cart__count {
    font-size: smaller;
  }
  
  .carrito__justify--align {
    margin-left: -55px;
  }
  
  /* Media queries para pantallas con un ancho máximo de 1000px */
  @media only screen and (max-width: 1000px) {
    .gallery__fotos {
      column-count: 2;
      gap: 20px; /* Espacios entre fotos */
    }
  }
  
  /* Media queries para pantallas con un ancho máximo de 900px */
  @media only screen and (max-width: 900px) {
    .gallery_filtersSubCategory {
      display: flex;
      margin: auto;
      gap: 30px;
    }
  
    .gallery__fotos {
      column-count: 1;
      gap: 10px; /* Espacios entre fotos */
    }
  
    .modal-info {
      display: flex;
      color: #fff;
      flex-direction: column;
      width: 92%;
      align-items: center;
      flex-wrap: nowrap;
    }
  
    .modal-content {
      display: flex;
      width: auto;
      max-height: 27%;
    }
  }
  
  /* Media queries para pantallas con un ancho máximo de 840px */
  @media only screen and (max-width: 840px) {
    .burger {
      background-color: red;
    }
  }
  
  /* Media queries para pantallas con un ancho máximo de 660px */
  @media only screen and (max-width: 660px) {
    .gallery_filtersSubCategory {
      display: flex;
      margin: auto;
      gap: 0px;
    }
  }
  
  /* Media queries para pantallas con un ancho máximo de 540px */
  @media only screen and (max-width: 540px) {
    .gallery_filtersSubCategory {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: auto;
      gap: 0px;
    }
  }
  
  .white-icon {
    color: #ffffff;
  }
  