.header {
  margin: 0px 40px 0;
  position: relative;
  z-index: 999999;
}
/* menu hamburguesa /  .menu, .menubtn{   display:none; }  .menuicon i{   display:none; }     header nav {   display: flex;   justify-content: space-between;   align-items: center;   padding: 1rem; }  / header .logo {   color: #595959;   font-size: 1.5rem; } */
.navbar {
  display: block;
  background-color: red; /* o display: none; según tus necesidades */
}

.navbar img {
  height: auto;
  max-width: 25%;
}

header ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 1.4em;
}

header li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header li a:hover {
  color: #f20519;
  font-weight: 800;
}

.burger-container {
  display: none; /* o display: block; según tus necesidades */
}
