.main-header {
  position: absolute;
  z-index: 999999;
  top: 10px;
  margin: auto 10px auto ;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.logo-header-r{
  height: 12vw;
}

header { 
  width: max-content;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  column-gap: 2.5vw;
  margin: auto;
  position: absolute; 
  right: 10px;
  top: 26px;
}

.toggle-logo {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background:none;
  border-radius: 0%;
  border: 0cap;
  cursor: pointer;
  font-family: inherit;
  margin-top: -10px;
  padding: 0px;
}

.toggle-logo:hover{
  text-decoration: none;
  color: #f20519;
  font-weight: 800;

}
.cart-header{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background:none;
  border-radius: 0%;
  border: 0cap;
  cursor: pointer;
  margin-top: 15px;
  padding: 0;
  font-size: xx-large;
}
.cart-header:hover{
  text-decoration: none;
  color: #f20519;
  font-weight: 800;
}

@media only screen and (max-width: 840px) {
  header{
    padding: 0px;
    margin-left: 325px;}
  .main-header{
  
  }
  
    
}