.main-header {
  position: absolute;
  z-index: 999999;
  top: 0px;
}

header {
  width: max-content;
  display: flex;
  /* justify-content:space-between; revisar */
  align-items: flex-start;;
  padding: 5px;
  column-gap: 165px;
}

.logo-header-r{
  height: 140px;
}

.toggle-logo {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background:none;
  border-radius: 0%;
  border: 0cap;
  cursor: pointer;
  font-family: inherit;
  margin-top: -10px;
  padding: 0px;
}

.toggle-logo:hover{
  text-decoration: none;
  color: #f20519;
  font-weight: 800;

}
.main-header ul {
  list-style: none;
  display: flex;
  gap: 60px;
  font-size: 1.4em;
}
  
  header li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
  }


.main-header li a:hover {
  color: #f20519;
  font-weight: 800;
}
.cart-header{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  background:none;
  border-radius: 0%;
  border: 0cap;
  cursor: pointer;
  margin-top: -10px;
  padding: 0px;
}
.cart-header:hover{
  text-decoration: none;
  color: #f20519;
  font-weight: 800;
}

@media only screen and (max-width: 840px) {
  
}