.search-bar {
  width: 25px; /* Ancho inicial */
  overflow: hidden;
  transition: width 0.3s ease; /* Agrega una transición para suavizar el cambio de ancho */
}

.search-bar.expanded {
  width: 200px; /* Ancho expandido */
}
.icon-container {
  color: #fff;
}
.icon-container:hover {
  color: #f20519;
  font-weight: 800;
}
